<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AGRO FARMERS</title> </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	
	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/animate.css')}}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{url_for('static',filename='css/icomoon.css')}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/flexslider.css')}}">

	
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

	<!-- Modernizr JS -->
	<script src="{{url_for('static',filename='js/modernizr-2.6.2.min.js')}}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{url_for('static',filename='js/respond.min.js')}}"></script>
	<![endif]-->
<!-- 
	<script>
		function matchPassword(){
			var pw1=document.getElementById("password").value;
			var pw2=document.getElementById("cpass").value;
			if(pw1!=pw2){
				alert("Password did not Match");
				
			}
			else{
				alert("Password created successfully")
			}
		}
	</script> -->

	</head>
	<body>

        <div class="fh5co-loader"></div>
        
        <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-2">
                        <!-- <div id="fh5co-logo"><a>FARMER HOME</a></div> -->
                    </div>
                    <div class="col-md-12 col-xs-12 text-center menu-1">
                        <ul>
                            <li class="has-dropdown">
                                
                                
                                
                            
                            </li>
                            <li><a href="product_registration"><b>Add Product</b></a></li>
                            <li><a href="farmer_view_product"><b>view product</b></a></li>
                            <li><a href="order"><b>Orders</b></a></li>
                            <li class="has-dropdown">
                                <a><b>VIEW</b></a>
                                <ul class="dropdown">
                                    <li><a href="farmer_view_notification">View notification</a></li>
                                    <li><a href="farmer_view_tips">View tips</a></li>
                                    <li><a href="farmer_view_pestiside">View pesticide</a></li>
                                    <li><a href="farmer_view_fertilizer">View fertilizer</a></li>
                                    <li><a href="farmer_view_plants">View plants</a></li>
                                    <li><a href="farmer_view_subsidies">View subsidies</a></li>
                                    <li><a href="farmer_view_seeds">View seeds</a></li>
                                </ul>
                            </li>
                        
            
                            
                            <li><a href="logout"><b>LOGOUT</b></a></li>
                        </ul>
                    </div>
                    <!-- <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                        <ul>
                            <li class="search">
                                <div class="input-group">
                                  <input type="text" placeholder="Search..">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                                  </span>
                                </div>
                            </li>
                            <li class="shopping-cart"><a href="#" class="cart"><span><small>0</small><i class="icon-shopping-cart"></i></span></a></li>
                        </ul>
                    </div> -->
                </div>
                
            </div>
        </nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Product Registration</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>PRODUCT REGISTRATION</h3>
					<form action="product_registration" method="POST" enctype="multipart/form-data">
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" id="pname" name="pname" class="form-control" placeholder="Product Name">
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="file" id="pop" name="image">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="desc" id="desc" cols="20" rows="5" class="form-control" placeholder="Product Description"></textarea>
							</div>
						</div>
                        

						<div class="row form-group">
							<!-- <div class="col-md-6"> -->
								<!-- <label for="fname">First Name</label> -->
								<!-- <input type="text" id="qnty" name="qnty" class="form-control" placeholder="Quantity with unit">
							</div> -->
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="text" id="prz" name="prz" class="form-control" placeholder="Price">
							</div>
						</div>

					
					
						<div class="form-group">
							<input type="submit" value="SUBMIT" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>

	
	
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static',filename='js/jquery.easing.1.3.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static',filename='js/jquery.waypoints.min.js')}}"></script>
	<!-- Carousel -->
	<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
	<!-- countTo -->
	<script src="{{url_for('static',filename='js/jquery.countTo.js')}}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static',filename='js/jquery.flexslider-min.js')}}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{{url_for('static',filename='js/google_map.js')}}"></script>

	<!-- Main -->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>

